modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["python313Packages.flask"]

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 81
externalPort = 80
